.table{
    border-spacing: 0px;
}
.rows {
    background-color: white;
}
.cells {
    width:20px;
    height:20px;
}
.cur-spot {
    background-color: green;
}
.end-spot {
	background-color: red;
}
.right-wall {
  border-right: 1px;
}
.left-wall {
  border-left: 1px;
}
.top-wall {
  border-top: 1px;
}
.bottom-wall {
  border-bottom: 1px;
}
.right-hole {
  border-right: 0px;
}
.left-hole {
  border-left: 0px;
}
.top-hole {
  border-top: 0px;
}
.bottom-hole {
  border-bottom: 0px;
}
